/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background: #f5f5f5;
  text-align: center;
}

/* HEADER */
.header {
  background: #0a7a3d;
  color: white;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

/* CONTENT */
.content {
  padding: 50px 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.desc {
  max-width: 600px;
  margin: auto;
  line-height: 1.6;
}

/* BUTTON */
.btn {
  margin-top: 30px;
  padding: 12px 30px;
  background: yellow;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* CARD */
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: #0a7a3d;
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 200px;
}

/* FORM */
.form-box {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  margin: auto;
  text-align: left;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.crd{
    background: rgb(255, 255, 255);
    color: #0a7a3d;
    padding: 20px;
    border-radius: 20px;
    width: auto;
    height: auto;
    align-items: center;
}